<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>remove items</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>
    <h1>View and remove items from the pricelist</h1>
    <h2>{{{result}}}</h2>
    <ul>
    	<li>
    		<li><a href="/">home</a></li>
    	</li>
        <li>
            <a href="/addItem">Add an item to the bot</a>
        </li>
        <li>
            <a class="active" href="/pricelist">View and remove items from the pricelist</a>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <form method="post" id="removeItem">
        {{#items}}
        <input type="checkbox" id="item" name="name" value={{{position}}}></input>
        <br> {{{name}}}
        <br> {{{buy}}}
        <br> {{{sell}}}
        <hr>
        <br>
        {{/items}}
        <input type="submit" form="removeItem" value="Remove the selected items"></input>
    </form>
    <form method="post" id="removeAll">
    	<input type="hidden" name="delete" value="all"></input>
    	<input type="submit" form="removeAll" value="Delete all items"></input>
    </form>
</html>